@import 'bootstrap/scss/bootstrap';

.btn-custom {
    background-color: #1CD6CE;
    border-color: #1CD6CE;
}

.btn-guesa {

    background-color: #576CBC;
    border-color: #576CBC;

}

.bg-dark-blue {
    background-color: #0B2447;
}

.modo-oscuro {
    background-color: #333;
    color: #fff;
}

.table-pastel {
    background-color: #f1f5f8;
    /* Color de fondo pastel */
}

.thead-pastel {
    background-color: #c2ddf0;
    /* Color de fondo del encabezado */
}

